{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<div class="ui grid">
    <div class="center aligned doubling four column row">
        <div class="column">
            <div class="ui primary segment">
                <div class="ui small statistic">
                    <div id="total-sales" class="value" style="padding-bottom: 10px;">
                        $553.120,76
                    </div>
                    <div class="label">
                        {{ 'sylius.ui.sales'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui primary segment">
                <div class="ui small statistic">
                    <div id="new-orders" class="value" style="padding-bottom: 10px;">
                        190
                    </div>
                    <div class="label">
                        {{ 'sylius.ui.fulfilled_orders'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui primary segment">
                <div class="ui small statistic">
                    <div id="new-customers" class="value" style="padding-bottom: 10px;">
                        113
                    </div>
                    <div class="label">
                        {{ 'sylius.ui.customers'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui primary segment">
                <div class="ui small statistic">
                    <div id="average-order-value" class="value" style="padding-bottom: 10px;">
                        $2.178,23
                    </div>
                    <div class="label">
                        {{ 'sylius.ui.average_order_value'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
